<html>
<head>
<title> Video Download </title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
</head>
<body>
<h1> Video Downloader 
{% if failed %}
	<font color="red"> Sorry, I was unable to download this video </font>
{% endif %}

</h1>
<p> KeepVid, YouTubeDownloader, pwnyoutube, and equivalents all require you to install softare, enable Java, or add a Bookmarklet. Which is fine if you're using your home PC. But I wanted something which required nothing, and could be used with any browser, device, and platform. After looking around for a while, I found nothing satisfactory.  Input a video URL in this box, and an an attempt will be made to return an .mp4 file. Supported sites are YouTube, and a few others. Please note </p>
	<ul>
		<li> It may look like the page is not responding after you press submit. The video is downloaded completely before being returned as a download, so please be patient if the video is long.</li>
		<li> The video will be assigned a random name, so unfortunately at this stage you will lose the video's title. </li>
	</ul>
<p><b> Input url here, and click on submit <b></p>
<form action = "/download" method="POST">
	<table>
		<tr>
			<td><input type="text" name="url" id="url"></input></td>
		</tr>
		<tr> 
			<td><input type="submit" value="submit" name="submit" id="submit"></td>
		</tr>
</form>

</body>
</html>